$mig-white: #fff !default;
$mig-black: #000 !default;
$mig-red: #d00 !default;
$mig-gold: #ffce00 !default;

$mig-duration: 5s !default;
$mig-padding: 4px 10px !default;

$mig-schwarz-string0: 'Hosted' !default;
$mig-schwarz-string1: 'Made' !default;
$mig-rot-string: '100% in' !default;
$mig-gold-string: 'Germany' !default;

$mig-l0: str-length($mig-schwarz-string0);
$mig-l1: str-length($mig-schwarz-string1);


.siegel {
  color: $mig-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > div {
    display: inline-block;
    padding: $mig-padding;
    text-transform: uppercase;
    font-family: Sans-Serif;
  }
}
.schwarz {
  background-color: $mig-black;
  &:after {
    content: $mig-schwarz-string0;
    animation: changePredicate $mig-duration linear infinite alternate;
  }
}
.rot {
  background-color: $mig-red;
  &:after {
    content: $mig-rot-string;
  }
}
.gold {
  background-color: $mig-gold;
  &:after {
    content: $mig-gold-string;
  }
}

@keyframes changePredicate {
  0% { content: $mig-schwarz-string0; }
  
  @for $i from 0 through $mig-l0 - 2 {
    #{($i + 2 + 48 - $mig-l0) * 1%} {
      content: str-slice($mig-schwarz-string0, 0, $mig-l0 - $i);
    } 
  }
  
  49% { content: str-slice($mig-schwarz-string0, 0, 1); color: $mig-white; }
  50% { content: str-slice($mig-schwarz-string1, 0, 1); color: $mig-black; }
  51% { content: str-slice($mig-schwarz-string1, 0, 1); color: $mig-white; }
  
  @for $i from 2 through $mig-l1 {
    #{($i + 50) * 1%} {
      content: str-slice($mig-schwarz-string1, 0, $i);
    } 
  }
  
  100% { content: $mig-schwarz-string1; }
}